{% extends "base.html" %}

{% block content %}
<div class="ui grid">
    <div class="row">
        <div class="column">
            <h1 class="ui header">Información sobre Autoconsumo</h1>

            <p>Aquí se encuentra información relevante que he ido encontrando (y que iré ampliando), sobre la instalación de paneles solares</p>
        </div>
    </div>
</div>

<div class="ui one column centered grid">
    <div class="two column centered row">
        <div class="column">
            <h3 class="ui header centered">8 errores al instalar paneles solares y 4 consejos</h3>
        </div>
    </div>
    <div class="two column centered row">
        <div class="column">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/r7jrPXTYED4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="two column centered row">
        <div class="column">
        </div>
    </div>

    <div class="two column centered row">
        <div class="column">
            <h3 class="ui header centered">Verdades incómodas sobre los paneles solares</h3>
        </div>
    </div>
    <div class="two column centered row">
        <div class="column">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/V1ajQ-yt8TU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>

    <div class="two column centered row">
        <div class="column">
        </div>
    </div>

    <div class="two column centered row">
        <div class="column">
            <h3 class="ui header centered">¿Ha llegado el momento de montar baterías para mis paneles solares?</h3>
        </div>
    </div>
    <div class="two column centered row">
        <div class="column">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YIQAS_Kx7a0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="ui grid">
    <div class="row">
        <div class="column">
            <a href="https://www.technosun.com/es/blog/listado-paneles-solares-tier-1" target="_blank">Listado de paneles TIER 1</a>
        </div>
    </div>
    <div class="row">
        <div class="column">
            <p>Marcas de inversores recomendados:</p>

            <ul>
                <li>Fronius</li>
                <li>Huawei</li>
                <li>SMA</li>
                <li>Growatt</li>
                <li>Solax</li>
                <li>Ingeteam</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}