{% extends "base.html" %}

{% block content %}

<h1 class="ui header">Producción estimada</h1>

<div class="content">
    <div id="production-estimation-configuration-selector"></div>

    <div id="production-estimation-monthly-figure" class="plotly-graph-div" style="min-height:600px; width:100%;"></div>

    <div id="production-estimation-yearly-figure" class="plotly-graph-div" style="min-height:600px; width:100%;"></div>
</div>
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    let productionEstimationMonthly = $('#production-estimation-monthly-figure').productionestimationmonthly();

    let productionEstimationYearly = $('#production-estimation-yearly-figure').productionestimationyearly();

    let productionEstimationConfigurationSelector = $('#production-estimation-configuration-selector').productionestimationconfigurationselector({
        loadingContainerSelector: '#main-container',
        dataOrigin: {
            contextpath: '{{contextpath}}',
            dateScope: '{{production_estimation_date_scope}}',
        },
        configurationList: {{production_estimation_configurations | safe}},
        configurationAdded: function(event, configuration) {
            productionEstimationMonthly.productionestimationmonthly('addConfiguration', configuration);
            productionEstimationYearly.productionestimationyearly('addConfiguration', configuration);
        },
        configurationRemoved: function(event, configurationId) {
            productionEstimationMonthly.productionestimationmonthly('removeConfiguration', configurationId);
            productionEstimationYearly.productionestimationyearly('removeConfiguration', configurationId);
        },
        initialized: function(event, configurations) {
            productionEstimationMonthly.productionestimationmonthly('addConfiguration', configurations);
            productionEstimationYearly.productionestimationyearly('addConfiguration', configurations);
        }
    });
});
</script>
{% endblock %}