{% extends "base.html" %}

{% block content %}
<div class="ui container">
    <h1 class="ui header">Consumo horario de energía</h1>

    <h3 class="ui header">Consumo horario medio</h3>

    <div class="content">
        {{consumption_hod_avg_fig | safe}}
    </div>

    <div class="ui styled fluid accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            Datos consumo de energía horario medio
        </div>
        <div class="content">
            <table id="consumption_hod_avg_table" class="dataframe ui celled table dt" dt-dataUrl="/data/consumption/consumption_hod_avg.json">
                <thead class="full-width">
                    <tr>
                        <th>Año</th>
                        <th dt-type="month">Mes</th>
                        <th dt-className="dt-body-right">Hora del día</th>
                        <th dt-className="dt-body-right">Consumo medio (kWh)</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

    <h3 class="ui header">Consumo horario acumulado</h3>

    <div class="content">
        {{consumption_hod_sum_fig | safe}}
    </div>

    <div class="ui styled fluid accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            Datos consumo de energía horario acumulado
        </div>
        <div class="content">
            <table id="consumption_moy_evol_year_table" class="dataframe ui celled table dt" dt-dataUrl="/data/consumption/consumption_hod_sum.json">
                <thead class="full-width">
                    <tr>
                        <th>Año</th>
                        <th dt-type="month">Mes</th>
                        <th dt-className="dt-body-right">Hora del día</th>
                        <th dt-className="dt-body-right">Consumo (kWh)</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
{% endblock %}