{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1 class="ui header">Festivos</h1>

    <p>Estos son los festivos que se están utilizando en el cálculo de los periodos de facturación para las tarifas que discriminan por día festivo</p>

    <table id="bank_days" class="dataframe ui celled table dt" dt-dataUrl="{{contextpath}}/data/{{bank_days_file_name}}">
        <thead class="full-width">
            <tr>
                <th>Año</th>
                <th>Mes</th>
                <th>Día</th>
                <th>Descripción</th>
            </tr>
        </thead>
    </table>
</div>
{% endblock %}