{% extends "base.html" %}

{% block content %}
<h1>Configuración</h1>

<p>En esta sección se pueden dar de alta las ofertas recibidas por distintas compañias que se utilizarán en el apartado de costes y de autoconsumo.</p>

<div class="ui main text container">
    <div class="ui icon floating yellow centered message">
        <div class="header">
            ¡Atención!
        </div>
        <div class="content">
            <p>Ningún dato introducido será enviado a ningún servidor, ni compartido con ninguna empresa. Los datos introducidos únicamente serán guardados en el navegador. Si se accede a la web desde otro navedador, los datos no estarán disponibles.</p>
        </div>
    </div>
</div>

<div id="electricity-offer" style="margin-top: 2em;"></div>
{% endblock %}

{% block custom_javascript %}
<script type="text/javascript" charset="utf8">
    $(document).ready(function() {
        $('#electricity-offer').electricityoffer({
            githubUsername: '{{github_username}}',
            configurationBackupFilename: '{{configuration_backup_filename}}'
        });
    });
</script>
{% endblock %}