{% extends "base.html" %}

{% block content %}
<div id="loading" class="ui active dimmer">
    <div class="ui large text loader">Cargando ...</div>
</div>

<h1 class="ui header">Coste</h1>

<p>Se muestran datos del coste (únicamente el coste de la energía consumida) de los últimos {{months_count}} meses para los cuales hay registro</p>

<div id="tax-form" class="ui form">
    <div class="fields">
        <div class="one wide field">
            <label>IVA (%)</label>
            <input name="tax" type="text" value="21" maxlength="2">
        </div>
        <div class="one wide field">
            <label>Con IVA</label>
            <div class="ui slider checkbox checkbox-comp">
                <input type="radio" name="include_tax">
                <label>&nbsp;</label>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div id="cost_figure" class="plotly-graph-div" style="height:100%; width:100%;"></div>
</div>

<div class="content">
    <div id="cost_total_figure" class="plotly-graph-div" style="height:600px; width:100%;"></div>
</div>
{% endblock %}
{% block custom_javascript %}
<script type="text/javascript" charset="utf-8">
    window.PLOTLYENV=window.PLOTLYENV || {};

    const COLOR_SEQ = ['#636efa', '#EF553B', '#00cc96', '#ab63fa', '#FFA15A', '#19d3f3', '#FF6692', '#B6E880', '#FF97FF', '#FECB52'];

    let COLORS = {};

    var taxConfig = {
        enabled: false,
        value: 21
    };

    const offers = [{{pvpc_data | safe}}];

    function applyTax(value) {
        if (taxConfig.enabled) {
            return value * (1 + taxConfig.value / 100);
        }

        return value;
    }

    function getColor(title) {
        let selectedColor = COLORS[title];

        if (!selectedColor) {
            selectedColor = COLOR_SEQ.shift();
            COLORS[title] = selectedColor;
        }

        return selectedColor;
    }

    function get_cost_figure_data(title, values) {
        let valuesWithTax = values.map(applyTax.bind(this));

        return {
            'hovertemplate': `Oferta=${title}<br>Mes/A\u00f1o=%{x}<br>Coste (\u20ac)=%{y}<extra></extra>`,
            'legendgroup': title,
            'line': {
                'color': getColor(title),
                'dash': 'solid'
            },
            'marker': {
                'symbol': 'circle'
            },
            'mode': 'lines',
            'name': title,
            'orientation': 'v',
            'showlegend': true,
            'x': {{month_year_list | safe}},
            'xaxis': 'x',
            'y': valuesWithTax,
            'yaxis': 'y',
            'type': 'scatter'
        }
    }

    function get_cost_total_figure_data(title, values) {
        let valuesWithTax = values.map(applyTax.bind(this));

        return {
            'alignmentgroup': 'True',
            'hovertemplate': 'Oferta=%{x}<br>Coste (\u20ac)=%{y}<extra></extra>',
            'legendgroup': '',
            'marker': {
                'color': getColor(title),
                'pattern': {'shape':''}
            },
            'name': '',
            'offsetgroup': '',
            'orientation': 'v',
            'showlegend': false,
            'textposition': 'auto',
            'x': [title],
            'xaxis': 'x',
            'y': [valuesWithTax.reduce((a, b) => a + b, 0)],
            'yaxis': 'y',
            'type': 'bar'
        };
    }

    const plotly_figure_config = {"responsive": true};

    const plotly_figure_layout_template = {
        "template": {
            "data": {
                "histogram2dcontour": [{"type":"histogram2dcontour","colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]]}],
                "choropleth":[{"type":"choropleth","colorbar":{"outlinewidth":0,"ticks":""}}],
                "histogram2d":[{"type":"histogram2d","colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]]}],
                "heatmap":[{"type":"heatmap","colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]]}],
                "heatmapgl":[{"type":"heatmapgl","colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]]}],
                "contourcarpet":[{"type":"contourcarpet","colorbar":{"outlinewidth":0,"ticks":""}}],
                "contour":[{"type":"contour","colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]]}],
                "surface":[{"type":"surface","colorbar":{"outlinewidth":0,"ticks":""},"colorscale":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]]}],
                "mesh3d":[{"type":"mesh3d","colorbar":{"outlinewidth":0,"ticks":""}}],
                "scatter":[{"fillpattern":{"fillmode":"overlay","size":10,"solidity":0.2},"type":"scatter"}],
                "parcoords":[{"type":"parcoords","line":{"colorbar":{"outlinewidth":0,"ticks":""}}}],
                "scatterpolargl":[{"type":"scatterpolargl","marker":{"colorbar":{"outlinewidth":0,"ticks":""}}}],
                "bar":[{"error_x":{"color":"#2a3f5f"},"error_y":{"color":"#2a3f5f"},"marker":{"line":{"color":"#E5ECF6","width":0.5},"pattern":{"fillmode":"overlay","size":10,"solidity":0.2}},"type":"bar"}],
                "scattergeo":[{"type":"scattergeo","marker":{"colorbar":{"outlinewidth":0,"ticks":""}}}],
                "scatterpolar":[{"type":"scatterpolar","marker":{"colorbar":{"outlinewidth":0,"ticks":""}}}],
                "histogram":[{"marker":{"pattern":{"fillmode":"overlay","size":10,"solidity":0.2}},"type":"histogram"}],
                "scattergl":[{"type":"scattergl","marker":{"colorbar":{"outlinewidth":0,"ticks":""}}}],
                "scatter3d":[{"type":"scatter3d","line":{"colorbar":{"outlinewidth":0,"ticks":""}},"marker":{"colorbar":{"outlinewidth":0,"ticks":""}}}],
                "scattermapbox":[{"type":"scattermapbox","marker":{"colorbar":{"outlinewidth":0,"ticks":""}}}],
                "scatterternary":[{"type":"scatterternary","marker":{"colorbar":{"outlinewidth":0,"ticks":""}}}],
                "scattercarpet":[{"type":"scattercarpet","marker":{"colorbar":{"outlinewidth":0,"ticks":""}}}],
                "carpet":[{"aaxis":{"endlinecolor":"#2a3f5f","gridcolor":"white","linecolor":"white","minorgridcolor":"white","startlinecolor":"#2a3f5f"},"baxis":{"endlinecolor":"#2a3f5f","gridcolor":"white","linecolor":"white","minorgridcolor":"white","startlinecolor":"#2a3f5f"},"type":"carpet"}],
                "table":[{"cells":{"fill":{"color":"#EBF0F8"},"line":{"color":"white"}},"header":{"fill":{"color":"#C8D4E3"},"line":{"color":"white"}},"type":"table"}],
                "barpolar":[{"marker":{"line":{"color":"#E5ECF6","width":0.5},"pattern":{"fillmode":"overlay","size":10,"solidity":0.2}},"type":"barpolar"}],
                "pie":[{"automargin":true,"type":"pie"}]
            },
            "layout": {
                "autotypenumbers":"strict",
                "colorway": COLOR_SEQ,
                "font":{"color":"#2a3f5f"},
                "hovermode":"closest",
                "hoverlabel":{"align":"left"},
                "paper_bgcolor":"white",
                "plot_bgcolor":"#E5ECF6",
                "polar": {
                    "bgcolor":"#E5ECF6",
                    "angularaxis":{"gridcolor":"white","linecolor":"white","ticks":""},
                    "radialaxis":{"gridcolor":"white","linecolor":"white","ticks":""}
                },
                "ternary": {
                    "bgcolor":"#E5ECF6",
                    "aaxis":{"gridcolor":"white","linecolor":"white","ticks":""},
                    "baxis":{"gridcolor":"white","linecolor":"white","ticks":""},
                    "caxis":{"gridcolor":"white","linecolor":"white","ticks":""}
                },
                "coloraxis": {
                    "colorbar":{"outlinewidth":0,"ticks":""}
                },
                "colorscale": {
                    "sequential":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]],
                    "sequentialminus":[[0.0,"#0d0887"],[0.1111111111111111,"#46039f"],[0.2222222222222222,"#7201a8"],[0.3333333333333333,"#9c179e"],[0.4444444444444444,"#bd3786"],[0.5555555555555556,"#d8576b"],[0.6666666666666666,"#ed7953"],[0.7777777777777778,"#fb9f3a"],[0.8888888888888888,"#fdca26"],[1.0,"#f0f921"]],
                    "diverging":[[0,"#8e0152"],[0.1,"#c51b7d"],[0.2,"#de77ae"],[0.3,"#f1b6da"],[0.4,"#fde0ef"],[0.5,"#f7f7f7"],[0.6,"#e6f5d0"],[0.7,"#b8e186"],[0.8,"#7fbc41"],[0.9,"#4d9221"],[1,"#276419"]]
                },
                "xaxis": {
                    "gridcolor":"white",
                    "linecolor":"white",
                    "ticks":"",
                    "title":{"standoff":15},
                    "zerolinecolor":"white",
                    "automargin":true,
                    "zerolinewidth":2
                },
                "yaxis": {
                    "gridcolor":"white",
                    "linecolor":"white",
                    "ticks":"",
                    "title":{"standoff":15},
                    "zerolinecolor":"white",
                    "automargin":true,
                    "zerolinewidth":2
                },
                "scene": {
                    "xaxis":{"backgroundcolor":"#E5ECF6","gridcolor":"white","linecolor":"white","showbackground":true,"ticks":"","zerolinecolor":"white","gridwidth":2},
                    "yaxis":{"backgroundcolor":"#E5ECF6","gridcolor":"white","linecolor":"white","showbackground":true,"ticks":"","zerolinecolor":"white","gridwidth":2},
                    "zaxis":{"backgroundcolor":"#E5ECF6","gridcolor":"white","linecolor":"white","showbackground":true,"ticks":"","zerolinecolor":"white","gridwidth":2}
                },
                "shapedefaults": {
                    "line":{"color":"#2a3f5f"}
                },
                "annotationdefaults":{"arrowcolor":"#2a3f5f","arrowhead":0,"arrowwidth":1},
                "geo":{"bgcolor":"white","landcolor":"#E5ECF6","subunitcolor":"white","showland":true,"showlakes":true,"lakecolor":"white"},
                "title":{"x":0.05},
                "mapbox":{"style":"light"}
            }
        },
        "xaxis":{"anchor":"y","domain":[0.0,1.0],"title":{},"tickangle":90},
        "yaxis":{"anchor":"x","domain":[0.0,1.0],"title":{"text":"Coste (\u20ac)"}},
        "legend":{"tracegroupgap":0},
        "margin":{"t":60}
    };

    function isNumeric(str) {
        if (typeof str != "string") {
            return false
        }

        return !isNaN(str) && !isNaN(parseFloat(str))
    }

    function persistTaxConfiguration() {
        sessionStorage.setItem('cost_tax_config', JSON.stringify(taxConfig));
    }

    function refreshFigures() {
        $('#loading').show();

        var cost_figure_data = [];
        var cost_total_figure_data = [];

        offers.forEach(offer => {
            cost_figure_data.push(get_cost_figure_data(offer.title, offer.values));
            cost_total_figure_data.push(get_cost_total_figure_data(offer.title, offer.values));
        });

        // Cost figure
        var cost_figure_layout = Object.assign({}, plotly_figure_layout_template);
        cost_figure_layout.legend['title'] = { 'text': 'Oferta'}

        Plotly.newPlot("cost_figure", cost_figure_data, cost_figure_layout, plotly_figure_config);

        // Cost total figure
        var cost_total_figure_layout = Object.assign({}, plotly_figure_layout_template);
        cost_total_figure_layout['barmode'] = 'relative';

        Plotly.newPlot("cost_total_figure", cost_total_figure_data.sort((a, b) => a.y[0] - b.y[0]), cost_total_figure_layout, plotly_figure_config);

        $('#loading').hide();
    }

    $(document).ready(function() {
        let rawTaxConfig = sessionStorage.getItem('cost_tax_config');

        if (rawTaxConfig) {
            taxConfig = JSON.parse(rawTaxConfig);
        }

        if (taxConfig.enabled) {
            $('input[name="include_tax"]').attr('checked', 'checked');
        }

        $('.checkbox-comp').checkbox({
            uncheckable: true,
            beforeChecked: function() {
                let $taxFieldElement = $(this).parents('.fields').find('input[name="tax"]')
                let tax = $taxFieldElement.val();

                if (!isNumeric(tax) || parseInt(tax) === 0) {
                    $taxFieldElement.effect('shake', { times: 4, distance: 8 }, 750);
                    return false;
                }

                return true;
            },
            onChecked: function() {
                taxConfig.enabled = true;
                taxConfig.value = $(this).parents('.fields').find('input[name="tax"]').val();

                persistTaxConfiguration();
                refreshFigures();
            },
            onUnchecked: function() {
                taxConfig.enabled = false;

                persistTaxConfiguration();
                refreshFigures();
            }
        });

        $('input[name="tax"]').on('change', handler => {
            let taxValue = $(handler.currentTarget).val();

            if (taxConfig.value !== taxValue) {
                taxConfig.value = taxValue

                persistTaxConfiguration();

                if (taxConfig.enabled) {
                    refreshFigures();
                }
            }
        });

        var DataFrame = dfjs.DataFrame;

        var period_requests = [];

        var periods = {};

        offerdb.getBuyOfferRateTypes().forEach(rateType => {
            request = $.get(`{{contextpath}}/data/consumption/rate_${rateType}_m_periods.json`).done(function(response) {
                periods[rateType] = response;
            });
            period_requests.push(request);
        });

        $.when.apply(window, period_requests).done(function() {
            offerdb.getAllBuyOffers().forEach(offer => {
                const df_period_price = new DataFrame(offer.periods, ['period', 'period_price']);

                const periods_data = periods[offer.rateType];

                let df_period_consumption = new DataFrame(periods_data.data, periods_data.columns);
                df_period_consumption = df_period_consumption.map(row => row.set('month', parseInt(row.get('month_year').split('-')[0])).set('year', parseInt(row.get('month_year').split('-')[1])));
                df_period_consumption = df_period_consumption.join(df_period_price, ['period']);
                df_period_consumption = df_period_consumption.map(row => row.set('period_cost', row.get('period_kwh') * row.get('period_price')));

                values = df_period_consumption.groupBy('year', 'month').aggregate(group => group.stat.sum('period_cost')).rename('aggregation', 'month_cost').select('month_cost').toDict()['month_cost'];

                offers.push({
                    'title': `${offer.company.name} - ${offer.rateType} - ${offer.date}`,
                    'values': values
                });
            });

            refreshFigures();
        });
    });
</script>
{% endblock %}