<div class="ui grid">
    <div class="row">
        <div class="ui ten wide column centered card">
            <div class="content">
                <div class="header">Precio de la energía excedentaria del autoconsumo para el mecanismo de compensación simplificada (PVPC)</div>
            </div>
            <div class="content">
                <p>Precio horario de la energ&iacute;a excedentaria vertida a la red por las instalaciones de generaci&oacute;n de los consumidores que dispongan de un contrato de suministro al PVPC (Precio Voluntario para el Peque&ntilde;o Consumidor) con una comercializadora de referencia, y est&eacute;n acogidos al mecanismo de compensaci&oacute;n simplificada definido en el art&iacute;culo 14 del Real Decreto 244/2019, de 5 de abril.</p>

<p>La energ&iacute;a horaria excedentaria se valora al precio medio horario, Pmh (definido en el art&iacute;culo 10, Real Decreto 216/2014, de 28 de marzo) obtenido a partir de los resultados del mercado diario e intradiario en la hora h, menos el coste de los desv&iacute;os CDSVh (definido en el art&iacute;culo 11, Real Decreto 216/2014, de 28 de marzo). No incluye impuestos.</p>

<p>La energ&iacute;a horaria excedentaria de los consumidores acogidos al mecanismo de compensaci&oacute;n simplificada est&aacute; exenta de satisfacer los peajes de acceso establecidos en el Real Decreto 1544/2011, de 31 de octubre.</p>

<p>Los precios horarios son los mismos para todo el territorio espa&ntilde;ol independientemente de la zona horaria.</p>

<p><b>Publicaci&oacute;n:</b>&nbsp;diariamente a las 20:20 horas con la informaci&oacute;n del d&iacute;a D+1.</p>


                <h4 class="ui sub header">ID: 1739</h4>
            </div>
        </div>
    </div>
</div>