<div class="ui grid">
    <div class="row">
        <div class="ui ten wide column centered card">
            <div class="content">
                <div class="header">Término de facturación de energía activa del PVPC 2.0TD suma componentes</div>
            </div>
            <div class="content">
                <p>Precio horario del t&eacute;rmino de energ&iacute;a que se aplican en la factura el&eacute;ctrica de los consumidores con una potencia contratada no superior a 15 kW y que est&eacute;n acogidos al PVPC (Precio Voluntario para el Peque&ntilde;o Consumidor).</p>

<p>Incluye el t&eacute;rmino de energ&iacute;a de los peajes de acceso, los cargos y el coste de producci&oacute;n. No incluye impuestos.</p>

<p>En concreto este indicador se refiere al precio para los consumidores con tarifa por 2.0TD. El desglose de este indicador proporciona el detalle de los conceptos que determinan el precio final.</p>

<p><b>Publicaci&oacute;n:</b>&nbsp;diariamente a las 20:20 horas con la informaci&oacute;n del d&iacute;a D+1.</p>


                <h4 class="ui sub header">ID: 10391</h4>
            </div>
        </div>
    </div>
</div>